body {
    width:96%;
    height:95vh;
    background-image: linear-gradient(rgba(198, 188, 188, 0.868), rgba(0, 0, 0, 0.764)),url(https://tse3.mm.bing.net/th?id=OIP.wQfbTcZVXI2GHFnurBQvUwHaDl&pid=Api&P=0&h=180);
    background-size:cover;
    background-position: center;
}

