body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #7e1b6936;
    .resizedTextbox {width: 250px; height: 30px}
    .resized1 {width: 90px; height: 25px}
}